
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container childcontent ">
    <div id="main" class="reportframe" style="margin: 0px 0px 4px -6px  ; width: 100% ! important;">
        <object data="@Url.Content("~/Forms/ReportForm.aspx")" style="height: 1250px; width: 100%;"></object>
    </div>
</div>
